#agenda h4 {
    clear: both;
}

#agenda div.item {
    margin: 0 0 2em 0;
    clear: both;
}

#agenda div.date {
    float: left;
    min-width: 2.5em;
    line-height: 1.1em;
    font-size: 90%;
}

table#workout-cal td.workout {
    font-weight: bold;
    text-decoration: underline;
}

table#workout-cal td.today {
    background-color: rgba(6, 59, 179, 0.25);
}

section.chart-container {
    width: 100%;
}