<section id="agenda" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h2>Agenda</h2>
        {% if agenda|length == 0 %}
        <p>No upcoming events!</p>
        {% else %}
        {% for class, items in agenda.items() %}
        <h3>{{ class.to_string() }}</h3>
        {% for item in items %}
        <p>{% if class.name == 'TODAY' %}<strong>{% endif %}
            <a href="{{ item.url }}" title="{{ item.time|e }}" target="_blank">{{ item.title }}</a>
        {% if class.name == 'TODAY' %}</strong>{% endif %}</p>
        {% endfor %}
        {% endfor %}
        {% endif %}
    </div>
</section>
