<div id="agenda" class="mdl-color--white mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
        <h2 class="mdl-card__title-text">{{ _('Agenda') }}</h2>
        <div{% if need_update %} class="lazy-load" data-url="/agenda"{% endif %}>
            {% include 'agenda_content.html' %}
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="https://calendar.google.com/calendar/" target="_blank" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">calendar_today</i>
            {{ _('Open Calendar') }}
        </a>
    </div>
</div>
