<div class="mdl-color--white mdl-shadow--2dp">
    <script>
        let audioObject;

        function playAudio() {
            if (!audioObject) {
                audioObject = new Audio({{url|tojson}});
            }
            return audioObject.play();
        }

        function pauseAudio() {
            if (audioObject) {
                audioObject.pause();
            }
        }

        {% if autoplay %}
        $(document).ready(() => {
            playAudio().catch((e)=>{});
        });
        {% endif %}
    </script>
    <div class="mdl-card__supporting-text">
        <div style="float:right">
            <button onclick="playAudio()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                <i class="material-icons">play_arrow</i>
            </button>
            <button onclick="pauseAudio()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                <i class="material-icons">pause</i>
            </button>
        </div>
        <h2 class="mdl-card__title-text">
            <i class="material-icons">audiotrack</i>
            Audio
        </h2>
    </div>
</div>
