<div id="tasks-open-closed" class="agenda mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
        <h2 class="mdl-card__title-text">Tasks Open/Closed</h2>
    </div>
    <div class="lazy-load" data-url="tasks-open-closed"></div>
</div>
<div class="agenda mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
        <h2 class="mdl-card__title-text">Issues In Progress</h2>
    </div>
    <div class="lazy-load" data-url="tasks-in-progress"></div>
</div>
