<p><i class="fas fa-map-signs"></i> {{ message | safe }}</p>

<div class="features">
    <section class="chart-container">
        <span class="icon solid major fa-code"></span>
        <div id="tasks-chart-container" style="">
            <canvas id="tasks-open-closed-chart-canvas"></canvas>
        </div>
    </section>
</div>

<script>
var color = Chart.helpers.color;
Chart.defaults.global.defaultFontColor = 'white';

var ctx = document.getElementById('tasks-open-closed-chart-canvas').getContext('2d');
var myPieChart = new Chart(ctx, {
    type: 'pie',
        data: {
        datasets: [{
            data: {{ counts | tojson }},
            urls: {{ urls | tojson }},
            backgroundColor: {{ backgrounds | tojson }}
        }],
        labels: {{ names | tojson }},
    },
    options: {
        responsive: true,
        onHover: function(evt) {
            var elements = myPieChart.getElementsAtEvent(evt);
            if (elements.length > 0) {
                evt.target.style.cursor = 'pointer';
            } else {
                evt.target.style.cursor = 'default';
            }
        },
    }
});

$('#tasks-open-closed-chart-canvas').click(function(evt){
    var activePoints = myPieChart.getElementsAtEvent(evt);
    if (activePoints.length >= 1) {
        var index = activePoints[0]._index;
        window.open(myPieChart.data.datasets[0].urls[index]);
    }
});
</script>
