<div class="mdl-layout">
{% if todos %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tbody>
        {% for i in todos %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ i.summary }}</td>
            <td>{% if i.due %}
                {% if i.past_due %}<span style="color: red">{% endif %}
                    {{ i.due_string }}
                {% if i.past_due %}</span>{% endif %}
                {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="mdl-card__supporting-text mdl-color-text--grey-600">
    {{ _('No todos found.') }}
</div>
{% endif %}
</div>
