<h3>Calendar</h3>
<p>{{ workout_cal_header }}</p>
<table id="workout-cal"><tbody>
{% for row in workout_cal %}
<tr>
    {% for cell in row %}
    <td class="{% if cell['workout'] %}workout{% endif %}{% if cell['today'] %} today{% endif %}" title="{{ cell['hint'] }}">
        {{ cell['day'] }}
    </td>
    {% endfor %}
</tr>
{% endfor %}
</tbody></table>

<h3>Workout Days</h3>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
    {% for item in workout %}{% if item.workout_day %}
    <tr>
        <td>{{ item.date }}</td>
        <td>{{ item.weight }}</td>
    </tr>
    {% endif %}{% endfor %}
    </tbody>
</table>
