<div id="workout-chart" class="mdl-grid mdl-shadow--2dp mdl-color--white padded-card">
    <div class="mdl-cell mdl-cell--8-col">
        <h2 class="mdl-card__title-text">{{ _('Workout Chart') }}</h2>
        <div{% if need_update %} class="lazy-load" data-url="/workout-chart"{% endif %}>
            {% include 'workout_chart_content.html' %}
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <div{% if need_update %} class="lazy-load" data-url="/workout-calendar"{% endif %}>
            {% include 'workout_calendar_content.html' %}
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="{{ spreadsheet_url }}" target="_blank" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">table_chart</i>
            {{ _('Open Spreadsheet') }}
        </a>
    </div>
</div>
